<div style="margin-top: 50px; margin-bottom: 50px;" class="container">
	<div class="column is-8 is-offset-2">
		<p class="title is-3"><%= post.title %></p>
		<figure style="max-height: 300px; max-width: 300px;">
		  <img src="<%= post.banner_image_url %>">
		</figure>
		<p style="margin-bottom: 5px;"><%= raw post.tags.map { |t| link_to t.name, posts_path(tag: t.name), class: 'tag is-black'}.join(' ')%></p>
		<p style="font-size: 13px;" class="tile notification column is-4"><%= post.display_day_published%></p>
		<div style="margin-top: 10px;" class="<%= post.box_notification %>">
			<p><%=truncate(post.description, length: 100)%></p>
			<p style="margin-top: 5px;"><%=link_to 'Continue na brisa...', post, class: 'button is-light is-small' %></p>
		</div>
	</div>
</div>