<% provide(:page_title, 'Todos os posts')%>
<% provide(:blog_active, 'is-active')%>
<div style="text-align: center;" class="column is-4 is-offset-4">
  <%=image_tag('think-cloud')%>
</div>
<div style="margin-top: 50px;" class="container">
  <% @posts.each do |post| %>
    <%= render post %>
  <%end%>
</div>
  <div class="column is-4 is-offset-4">
    <%= paginate @posts %>
  </div>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
    	<p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Brisadao. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>