<% provide(:page_title, @post.title)%>
<% provide(:blog_active, 'is-active')%>

<div style="margin-top: 50px; margin-bottom: 50px;" class="container">
	<h1 class="title is-2"><%= @post.title %></h1>
	<p style="font-size: 13px;" class="tile notification column is-3"><%= @post.display_day_published%></p>
	<div style="margin-top: 30px;" class="column is-10 is-offset-1">
		<div class="tile notification"><%= @post.body.html_safe %></div>
    <p style="margin-top: 25px;" class="title is-5">Compartilhe essa brisa !</p>
    <%= social_share_button_tag(@post.body.html_safe) %>
  </div>
	<!--<div style="margin-top: 25px;" class="column is-10 is-offset-1">-->
    <!-- Box de comentarios do Disquis, deixarei comentado por enquanto 
    <div id="disqus_thread"></div>
    <noscript>
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </div> -->                              
</div>

<!-- script do Disquis comentado para nao gerar erros -->
<!--<script>
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

  var disqus_config = function () {
    this.page.url = '<%= request.original_url %>';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '<%= @post.slug %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };

  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://brisadao-blog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>-->
