<% provide(:gifs_active, 'is-active')%>
<div class="column is-8 is-offset-4">
  <%= form_tag gifs_path, method: :get do %>
    <%= fields_for :giphy do |g| %> 
      <p class="title is-3">Gifs</p>
      <div class="columns">
        <%= g.text_field :gif, placeholder: 'Exemplo: meme', class: 'input column is-4' %>
        <%= g.submit 'Buscar', style: 'margin-left: 10px;', class: 'button is-info' %>
      </div>
      <div class="actions">
      </div>
    <% end %>
  <% end %>
</div>
<div class="">
  <% @giphys.each do |gif| %>
  <div class="container">
    <div class="column is-3">
      <img src="<%=gif["images"]["original"]["url"]%>">
    </div>
  </div>
  <% end %>
</div>