<div style="margin-top: 50px;" class="columns">
  <!-- Atualização dos dado do Autor -->
  <div class="container is-fluid column is-4">
    <%= form_tag authors_info_path, method: :put do %> 
      <%= fields_for :author do |f| %>
          <p class="title is-3">Informações do Autor</p>
          <div class="field">
            <%= f.label :name, 'Nome do Autor', class: 'label', placeholder: 'teste' %>
            <%= f.text_field :name, placeholder: current_author.name, class: 'input column is-6' %>
          </div>

          <div class="field">
            <%= f.label :email, 'Email do Autor', class: 'label' %>
            <%= f.text_field :email, placeholder: current_author.email, class: 'input column is-8' %>
          </div>

          <div class="field">
            <%= f.label :bio, 'Bio do Autor', class: 'label' %>
            <%= f.text_area :bio, placeholder: current_author.bio, class: 'textarea' %>
          </div>
          <div class="actions">
            <%= f.submit 'Atualizar Dados', style: 'float:left', class: 'button is-success' %>
          </div>
      <% end %>
    <% end %>
  </div>

  <!-- Atualização de Senha -->
  <div class="container is-fluid column is-4 is-offset-2">
    <%= form_tag authors_change_password_path, method: :put do %> 
      <%= fields_for :author do |f| %>
          <p class="title is-3">Trocar senha</p>
          <div class="field">
            <%= f.label :current_password, 'Senha atual', class: 'label' %>
            <%= f.password_field :current_password, class: 'input column is-6' %>
          </div>

          <div class="field">
            <%= f.label :new_password, 'Nova senha', class: 'label' %>
            <%= f.password_field :new_password, class: 'input column is-6' %>
          </div>

          <div class="field">
            <%= f.label :new_password_confirmation, 'Confirme a senha', class: 'label' %>
            <%= f.password_field :new_password_confirmation, class: 'input column is-6' %>
          </div>
          <div class="actions">
            <%= f.submit 'Atualizar Senha', style: 'float:left', class: 'button is-warning' %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>