<div class="container is-fluid">
  <div class="column is-6 is-offset-4">
    <p class="title is-3">Logar no Brisadao</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span><br />
        <%= f.email_field :email, class: 'input column is-6', autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, 'Senha', class: 'label' %>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span><br />
        <%= f.password_field :password, class: 'input column is-6', autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Entrar", class: 'button is-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
