<%= form_for(post, url: url) do |f| %>
  <div style="margin-top: 50px; margin-bottom: 50px;" class="column is-10">
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title, 'Título', class: 'label' %>
      <%= f.text_field :title, class: 'input column is-4' %>
    </div>

    <div class="field">
      <%= f.label :banner_image_url, 'Imagem da postagem na tela inicial', class: 'label' %>
      <%= f.text_field :banner_image_url, class: 'input column is-4' %>
    </div>

    <div class="field">
      <%= f.label :box_notification, 'Define a cor da box que conterá a descrição', class: 'label' %>
      <span class="select">
      <%= f.select :box_notification, options_for_select([ "notification is-primary", "notification is-success", "notification is-warning", "notification is-danger", "notification is-info" ], "notification is-info") %>
      </span>
    </div>
    
    <div class="field">
      <%= f.label :body, 'Conteúdo da postagem', class: 'label' %>
      <%= f.text_area :body, class: 'textarea' %>
    </div>

    <div class="field">
      <%= f.label :tag_list, 'Tags para categoriazar a postagem', class: 'label' %>
      <%= f.text_area :tag_list, class: 'textarea' %>
    </div>

    <div class="field">
      <%= f.label :description, 'Descrição da postagem', class: 'label' %>
      <%= f.text_area :description, class: 'textarea' %>
    </div>
    <div class="actions">
      <%= f.submit style: 'float:right', class: 'button is-success' %>
    </div>
    <div style="float: left;">
      <% if @post.persisted? %>
        <%= link_to 'Exibir', authors_post_path(@post), class: 'button is-primary' %>
      <% end %>
      <%= link_to 'Voltar', authors_posts_path, class: 'button' %>
    </div>
  </div>
<% end %>
