<tr>
	<td><%= link_to post.title, authors_post_path(post) %></td>
	<% if post.published? %>
		<td><%= link_to 'Despublicar', unpublish_authors_post_path(post), method: :put, class: 'button is-primary' %> </td>
	<% else %>
		<td><%= link_to 'Publicar', publish_authors_post_path(post), method: :put, class: 'button is-primary' %> </td>
	<% end %>
	<td><%= link_to 'Editar', edit_authors_post_path(post), class: 'button is-warning' %> </td>
	<td><%= link_to 'Deletar', authors_post_path(post), class: 'button is-danger', method: :delete, data: {confirm: 'Vinni você tem certeza de que deseja deletar essa postagem?'}%> </td>
</tr>