<% provide(:page_title, "Editando #{@post.title}")%>
<% provide(:author_active, 'is-active')%>

<div style="margin-top: 50px;" class="container is-fluid">
	<h1 class="title is-2"><%=yield(:page_title)%></h1>
	<%= render 'form', post: @post, url: authors_post_url(@post)  %>
</div>
