<% provide(:page_title, 'Todos os posts')%>
<% provide(:author_active, 'is-active')%>

<div style="margin-top: 50px;" class="container">
  <p id="notice"><%= notice %></p>
  <%= link_to t('new_post'), new_authors_post_path, class: 'button is-info' %>
  <table style="margin-top: 50px;" class="table">
  	<tr>
  		<th>Título</th>
      <th>Publicar/Despublicar</th>
  		<th>Editar</th>
      <th>Deletar</th>
  	</tr>
	  <% @posts.each do |post| %>
	    <%= render post %>
	  <%end%>
  </table>
</div>