<% provide(:page_title, 'Novo Post')%>
<% provide(:author_active, 'is-active')%>

<div style="margin-top: 50px;" class="container is-fluid">
	<h1 class="title is-2"><%= t('new_post') %></h1>
	<%= render 'form', post: @post, url: authors_posts_url %>
</div>
