<% provide(:page_title, @post.title)%>
<% provide(:blog_active, 'is-active')%>

<div style="margin-top: 50px; margin-bottom: 50px;" class="container">
	<h1 class="title is-2"><%= @post.title %></h1>
	<p style="font-size: 13px;" class="tile notification column is-4"><%= @post.display_day_published%></p>
	<%= link_to 'Editar', edit_authors_post_path(@post), class: 'button is-warning' %>
	<%= link_to 'Deletar', authors_post_path(@post), class: 'button is-danger', method: :delete, data: {confirm: 'Vinni você tem certeza de que deseja deletar essa postagem?'}%>
	<div style="margin-top: 30px;" class="column is-12">
		<div class="tile notification"><%= @post.body.html_safe %></div>
	</div>
</div>