<nav class="nav has-shadow">
  <div class="nav-left">
    <%= link_to 'Brisadao', root_path, class: "nav-item #{yield(:blog_active)}"%>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span id="nav-toggle" class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div id="nav-menu" class="nav-right nav-menu">
    <%= link_to 'Início', root_path, class: "nav-item #{yield(:blog_active)}"%>
    <%= link_to 'Gifs', gifs_path, class: "nav-item #{yield(:gifs_active)}"%>
    <%= link_to 'Sobre', about_path, class: "nav-item #{yield(:about_active)}"%>
    <%= link_to 'Contato', contact_path, class: "nav-item #{yield(:contact_active)}"%>
    <% if author_signed_in? %>
      <%= link_to 'Minhas Postagens', authors_posts_path, class: "nav-item #{yield(:author_active)}"%>
      <%= link_to 'Gerenciar Conta', authors_account_path, class: "nav-item #{yield(:account_active)}"%>
      <%= link_to 'Sair', destroy_author_session_path, method: :delete, class: "nav-item"%>
    <% end %>
  </div>
</nav>