<!DOCTYPE html>
<html>
  <head>
    <title>Brisadao Blog | <%=yield(:page_title)%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bulma' %>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=j1nx5vua5utvbv6x1h0jifebd2yjtjn1ozo63829cjniu03c"></script>
    <link href="https://use.fontawesome.com/d5100610f6.css" media="all" rel="stylesheet">
  </head>

  <body>
  	<%= render 'layouts/navbar' %>
  	<div class="<%= controller_name %> <%= action_name %>">
      <!-- box de mensagem de sucesso e falha -->
      <% if flash.any? %>
        <% flash.keys.each do |key| %>
          <% if flash.keys.first.to_s == 'danger' %>
            <article style="margin-top: 10px;" class="container is-fluid message is-danger">
              <div class="message-header">
                <p><strong>Erro !</strong></p>
                <button class="delete"></button>
              </div>
              <div class="message-body">
              <%= flash[key] %>
              </div>
            </article>
          <% else %>
            <article style="margin-top: 10px;" class="container is-fluid message is-success">
              <div class="message-header">
                <p><strong>Sucesso !</strong></p>
                <button class="delete"></button>
              </div>
              <div class="message-body">
              <%= flash[key] %>
              </div>
            </article>
          <% end %>
        <% end %>
      <% end %>
    	<%= yield %>
  	</div>
  </body>
</html>