<!DOCTYPE html>
<html>
  <head>
    <title>Brisadao Blog | <%=yield(:page_title)%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bulma' %>
    <link href="https://use.fontawesome.com/d5100610f6.css" media="all" rel="stylesheet">
  </head>

  <body>
  	<%= render 'layouts/navbar' %>
  	<div class="<%= controller_name %> <%= action_name %>">
    	<%= yield %>
  	</div>
  </body>
</html>